* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }

  .menuBar *{
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;   
  }

    .title {
    margin-left: auto;
    margin-right: auto;
    }

  .container {
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
  }

  form {
      margin-left: 10%;
      margin-right: 10%;
  }

  .dateInputArea {
      margin: 10px;
      text-align: left; 
      display: block;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
  }
  
  li, img {
    max-width: 500px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
.menuPopUp {
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
    top: 5%;
    background-color: lightgray;
    padding: 20px;
}

.menuScreen button {
    margin-left: 90%;
    margin-bottom: 10%;
}

.menuScreen h1 {
    text-align: center;
}


  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }