* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }

    .title {
    margin-left: 5%;
    position: relative;
    }

    .menuBar {
      position: absolute;
      height: 10%;
      width: 100%;
      background-color: white;
    }

    .menuItem {
      position: relative;
      right: 5%;
      color: black;
    }

    .banner-img {
      margin-top: 10%;
      height: 50px;
      width: 100%;
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
      object-fit: cover;
    }

  .container {
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
      background: #5C6761;
  }

  p, label {
    color: white;
  }

  form {
      margin-left: 10%;
      margin-right: 10%;
      display: block
  }

  .dateInputArea {
      display: block;
      text-align: center;
    
  }

  .dateDiv {
      display: block;
  }
  
  button, input[type="date"], input[type="float"] {
    margin: 5px;
    padding: 2px;
  }
  
  button:hover {
    cursor: pointer;
  }

  .menuItem:hover {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 5%;
  }
  
  li, img {
    max-width: 100%;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    display: block;
  }

  .container h1 {
      text-align: center;
  }
  
.menuPopUp {
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
    top: 5%;
    background-color: lightgray;
    padding: 20px;
}

.menuScreen button {
    margin-left: 90%;
    margin-bottom: 10%;
}

.menuScreen h1 {
    text-align: center;
}


  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media screen and (max-width: 520px) {

  }

  /* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 521px) and (max-width: 1024px) {



}

  /* Desktops and laptops ----------- */
  @media screen and (min-width: 1024px) {



  }