* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
}

header {
  background-color: white;
  width: 100%;
  height: 10%;
  margin-top: 0;
}

main {
  font-size: 18px;
  color: black;
  line-height: 1.5;
  margin-left: 5%;
}

.headliner {
  margin-left: 10%;
}

.title {
  font-size: 45px;
  font-family: 'Electrolize', sans-serif;

}

.subtitle {
  font-size: 25px;
  color: gray;
}


.menuBar {
  height: 15%;
}

.menuBar * {
  text-decoration: none;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.menuItem {
  position: relative;
  text-align: right;
  margin-right: 10%;
  font-size: 20px;
}

.menuItem:hover {
  color: darkcyan;
}

.menuBar {
  height: 2%;
  margin-top: 0;
  background-color: white;
  padding: 2%;
}

.menuScreen p, li, ul {
  font-size: 20px;
}

.menuScreen li {
  list-style-type: square;
}

.banner-img {
  height: 80px;
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  object-fit: cover;
}

.container {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid whitesmoke;
  width: 85%;
  padding: 15px;
  display: block;
  text-align: center;
}

.container p {
  font-size: 22px;
}

p, label {
  color: black;
}

form {
    margin-left: 10%;
    margin-right: 10%;
    display: block
}

.dateInputArea {
    display: block;
    text-align: center;
  
}

.dateDiv {
    display: block;
}

input[type="date"], input[type="float"] {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 5px;
}



button:hover {
  cursor: pointer;
}

.about:hover {
  cursor: pointer;
}


.instructions {
  padding: 15px;
}

.container h1 {
    text-align: center;
}
  
.menuPopUp {
    height: auto;
    position: absolute;
    left: 50%;
    top: 15%;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    z-index: 1;
    padding: 5%;
    padding-bottom: 10%;
}

.menuScreen p {
  margin: 10px;
}


.menuScreen button {
    position: absolute;
    right: 7%;
    bottom: 7%; 
    padding: 10px;
}

.menuScreen h1 {
    text-align: center;
}


  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media screen and (max-width: 520px) {

    .menuPopUp {
      width: 90%;
      margin-left: -45%;
      
    }

  }

  /* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 521px) and (max-width: 1024px) {

  .menuPopUp {
    width: 70%;
    margin-left: -35%;
    
  }

}

  /* Desktops and laptops ----------- */
  @media screen and (min-width: 1024px) {

    .menuPopUp {
      width: 60%;
      margin-left: -30%;
      
    }

  }